.header {
    overflow: hidden
}

.header__image {
    height: 300px;
    width: 100%;
    border-bottom: #e6e326 solid 5px;
    object-fit: cover;
}

.header__nav {
    background-color: #37433F;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header__nav-item {
    padding: 10px 25px;
    background-color: #37433F;
    color: white;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

.header__nav-item:hover {
    cursor: pointer;
    background-color: #5d6a66;
    color: white;
    text-decoration: none;
}

.product-teaser {

}